
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đặt Lại Mật Khẩu IT-GLOBAL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Công ty TNHH Giải pháp Công Nghệ IT-Global">
    <meta name="author" content="IT-Global">
    <meta name="keywords" content="website, mobile app, technology, design">

    <link rel="icon" href="~/Content/User/public/main/img/icon.svg">
    <link href="~/Content/User/public/main/img/icon.svg" rel="shortcut icon">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" rel="stylesheet">

    <link href="~/Content/Admin/assets/fonts/feather/feather.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/main.css">

    <link rel="stylesheet" href="~/Content/Admin/assets/css/atlantis.min.css">
    <link href="~/Content/Admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
</head>

<body>
    <div id="actionLuuMatKhau" hidden data-request-url="@Url.Action("DatLaiMatKhau", "QuanLyTaiKhoan")"></div>
    <div id="actionDangNhap" hidden data-request-url="@Url.Action("DangNhap", "QuanLyTaiKhoan")"></div>


    <input hidden type="text" id="emailNe" name="emailNe" value="@Session["XacThucEmail"].ToString()" />
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    <img style="margin-bottom: -200px; margin-left: -400px" src="~/Content/Admin/images/icons/icon.svg" width="200px" height="auto" alt="">
                </span>
                <div id="frmResetPass" style="margin-top: -100px; margin-left: 350px;" class="login100-form validate-form" form="get" action="pages/dashboard/admin-dashboard.html">
                    <div class="text-center">
                        <h2 style="font-weight: bold;">Đặt Lại Mật kKẩu</h2>
                    </div>
                    <div style="margin-bottom: 5px" class="text-center">
                        <span class="txt1">Đặt lại mật khẩu mới của bạn với chiều dài tối thiểu 4 ký tự và tối đa 50 ký tự.</span>
                    </div>
                    <div class="p-t-12">
                        <div class="wrap-input100 validate-input" data-validate="Valid password reset is required: Nhập mật khẩu mới">
                            <input class="input100" type="text" name="password" id="password" placeholder="Nhập mật khẩu mới">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <p style="color: red; font-size: 13px; margin-top: -10px" hidden id="PasswordValidateResul"></p>
                    <div>
                        <div class="wrap-input100 validate-input" data-validate="Valid password reset is required: Nhập lại mật khẩu mới">
                            <input class="input100" type="text" name="repassword" id="repassword" placeholder="Nhập lại mật khẩu mới">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <p style="color: red; font-size: 13px; margin-top: -10px" hidden id="RePasswordValidateResul"></p>
                    <div class="container-login100-form-btn">
                        <button id="subMitNe" class="login100-form-btn">
                            Đặt lại mật khẩu
                        </button>
                    </div>

                    <div style="margin-top: -30px" class="text-center p-t-136">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Admin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/Content/Admin/js/main.js"></script>

    <script src="~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>


    <!--============================ Validation =============================-->
    <script src="~/ValidationAlert/Admin/QuanLyTaiKhoan/DatLaiMatKhauValidation.js"></script>
</body>

</html>