
@{
    ViewBag.Title = "Bảng Lương";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 d-lg-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Lương</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("bangLuong", "quanLyLuong")">Quản Lý Lương</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Bảng Lương
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div style="margin-right:-5px">
                    <a href="#" class="btn btn-primary me-2" style="width:230px;"><i class="fe fe-dollar-sign"></i> Tính Lương</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-md-between mb-4 mb-xl-4 ">
        <div class="col-xl-3 col-lg-4 col-md-4 col-12 ">
            <select class="selectpicker" data-width="100%">
                <option value="">Lương của Năm</option>
                <option value="In Progress">Năm 2020</option>
                <option value="Pending">Năm 2021</option>
                <option value="Modified">Năm 2022</option>
            </select>

        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-12 ">
            <select class="selectpicker" data-width="100%">
                <option value="">Trạng thái</option>
                <option value="In Progress">Đã thanh toán</option>
                <option value="Pending">Chưa thanh toán xong</option>
            </select>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-12">
            <!-- card -->
            <div class="card">
                <!-- table -->
                <div class="table-responsive overflow-y-hidden">
                    <table class="table mb-0 text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col" class=" border-top-0">Tháng lương</th>
                                <th scope="col" class=" border-top-0">Ngày tạo</th>
                                <th scope="col" class=" border-top-0">Tổng lương</th>
                                <th scope="col" class=" border-top-0">Thanh toán</th>
                                <th scope="col" class=" border-top-0">Trạng thái</th>
                                <th scope="col" class=" border-top-0">Nhân viên</th>
                                <th scope="col" class=" border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="@Url.Action("danhSachLuongThang", "QuanLyLuong")" class="text-inherit">Tháng 01, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    30 Thg 01, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b><b>$ 215,000,000 đ</b></b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>93%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 93%;"
                                                 aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Còn 2 nhân viên</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                 class="rounded-circle imgtooltip" data-template="one">
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Paul Haney</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textThree">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textThree" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-3.jpg"
                                                 class="rounded-circle imgtooltip" data-template="two">
                                            <span id="two" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">11+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 02, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    28 Thg 02, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 215,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>100%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%;"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textFour">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textFour" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-5.jpg"
                                                 class="rounded-circle imgtooltip" data-template="three">
                                            <span id="three" class="d-none">
                                                <span class="mb-0 h6">Gali Linear</span>

                                            </span>
                                        </span>
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-6.jpg"
                                                 class="rounded-circle imgtooltip" data-template="four">
                                            <span id="four" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>

                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">12+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown2"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown2">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 03, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    30 Thg 03, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 217,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>100%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%;"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                 class="rounded-circle imgtooltip" data-template="one">
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Paul Haney</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textThree">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textThree" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-3.jpg"
                                                 class="rounded-circle imgtooltip" data-template="two">
                                            <span id="two" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">11+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 04, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    29 Thg 04, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 175,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>20%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 20%;"
                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Còn 9 nhân viên</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                 class="rounded-circle imgtooltip" data-template="one">
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Paul Haney</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textThree">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textThree" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-3.jpg"
                                                 class="rounded-circle imgtooltip" data-template="two">
                                            <span id="two" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">11+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 05, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    30 Thg 05, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 175,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>93%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 93%;"
                                                 aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Còn 2 nhân viên</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                 class="rounded-circle imgtooltip" data-template="one">
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Paul Haney</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textThree">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textThree" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-3.jpg"
                                                 class="rounded-circle imgtooltip" data-template="two">
                                            <span id="two" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">11+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 06, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    29 Thg 06, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 215,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>100%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%;"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textFour">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textFour" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-5.jpg"
                                                 class="rounded-circle imgtooltip" data-template="three">
                                            <span id="three" class="d-none">
                                                <span class="mb-0 h6">Gali Linear</span>

                                            </span>
                                        </span>
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-6.jpg"
                                                 class="rounded-circle imgtooltip" data-template="four">
                                            <span id="four" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>

                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">12+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown2"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown2">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 07, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    30 Thg 07, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 217,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>100%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%;"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                 class="rounded-circle imgtooltip" data-template="one">
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Paul Haney</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textThree">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textThree" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-3.jpg"
                                                 class="rounded-circle imgtooltip" data-template="two">
                                            <span id="two" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">11+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-shape icon-lg rounded-3 border p-4">
                                            <i class="fe fe-calendar  fs-3 text-muted"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 08, 2022</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    29 Thg 08, 2022
                                </td>
                                <td class="align-middle text-warning">
                                    <b>$ 175,000,000 đ</b>
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>20%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 20%;"
                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Còn 9 nhân viên</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                 class="rounded-circle imgtooltip" data-template="one">
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Paul Haney</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md avatar-primary imgtooltip" data-template="textThree">
                                            <span class="avatar-initials rounded-circle ">

                                                GK
                                            </span>

                                            <span id="textThree" class="d-none">
                                                <span class="mb-0 h6">Geeks Only</span>

                                            </span>
                                        </span>

                                        <span class="avatar avatar-md">
                                            <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-3.jpg"
                                                 class="rounded-circle imgtooltip" data-template="two">
                                            <span id="two" class="d-none">
                                                <span class="mb-0 h6">Mary Holler</span>
                                            </span>
                                        </span>
                                        <span class="avatar avatar-md ">
                                            <span class="avatar-initials rounded-circle bg-light text-dark">11+</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-link dropdown-item-icon"></i>Copy project link

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-save dropdown-item-icon"></i>Save as Default
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-copy dropdown-item-icon"></i>Duplicate
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-layout dropdown-item-icon"></i>Convert to Template
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-upload dropdown-item-icon"></i>Import
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Export / Print
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-users dropdown-item-icon"></i>Move to another team
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-archive dropdown-item-icon"></i>Archive
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Delete Project
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
