
@{
    ViewBag.Title = "Dự Án Thành Công";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section id="about" class="dtr-section dtr-pt-100" style="margin-top: 90px; margin-bottom: 90px;">
    <div class="container color-dark">
        <div style="margin-bottom: 20px;"><h2>Dự án thành công</h2> <p>Đây là những dự án mà IT-Global đã hoàn thành và thành công.</p></div> <div data-v-4ad3dc85="" class="row">
            <div data-v-4ad3dc85="" class="col-md-12">
                <div data-v-3d1a4f76="" data-v-4ad3dc85="" class="slick-slider slick-initialized">
                    <div data-v-3d1a4f76="" class="slick-list">
                        <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track" style="width: 1112px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition: -webkit-transform 3000ms ease 0s;">
                            <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="true" class="slick-slide" style="outline: none; width: 278px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-4ad3dc85="" data-v-e4caeaf8="" tabindex="-1" class="box-card" style="width: 100%; display: inline-block;">
                                        <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card">
                                            <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-img-top"><img data-v-4ad3dc85="" data-v-e4caeaf8="" src="https://tancool.net/public/homestudent/images/vlu.png" alt="Card image cap" class="image-vlu"></div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-body">
                                                <h5 data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-title">Hồ Sơ Điện Tử</h5> <p data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-text">
                                                    Hồ sơ điện tử sinh viên là website có thể đăng ký kế hoạch học tập, đăng ký môn học và quản lý điểm học tập
                                                    cũng như lịch học của sinh viên.
                                                </p>
                                            </div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-footer"><div data-v-4ad3dc85="" data-v-e4caeaf8="" class="text-center"><a data-v-4ad3dc85="" data-v-e4caeaf8="" href="https://tancool.net/" target="_blank" class="btn btn-primary">Xem chi tiết →</a></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-v-e4caeaf8="" tabindex="-1" data-index="1" aria-hidden="true" class="slick-slide" style="outline: none; width: 278px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-4ad3dc85="" data-v-e4caeaf8="" tabindex="-1" class="box-card" style="width: 100%; display: inline-block;">
                                        <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card">
                                            <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-img-top"><img data-v-4ad3dc85="" data-v-e4caeaf8="" src="https://thuexemiennam.com/public/admin/images/logo/logo.png" alt="Card image cap"></div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-body">
                                                <h5 data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-title">Thuê xe miền nam</h5> <p data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-text">
                                                    Thuexemiennam là đơn vị tiên phong cung cấp các dịch vụ thuê xe mang lại trải nghiệm tốt nhất cho khách hàng
                                                    khi ngồi trên xe.
                                                </p>
                                            </div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-footer"><div data-v-4ad3dc85="" data-v-e4caeaf8="" class="text-center"><a data-v-4ad3dc85="" data-v-e4caeaf8="" href="https://thuexemiennam.com/" target="_blank" class="btn btn-primary">Xem chi tiết →</a></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-v-e4caeaf8="" tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide slick-active slick-current" style="outline: none; width: 278px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-4ad3dc85="" data-v-e4caeaf8="" tabindex="-1" class="box-card" style="width: 100%; display: inline-block;">
                                        <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card">
                                            <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-img-top"><img data-v-4ad3dc85="" data-v-e4caeaf8="" src="https://www.hieutao.com/public/images/logo.jpg" alt="Card image cap" class="size-image"></div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-body">
                                                <h5 data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-title">Hiếu Táo Store</h5> <p data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-text">
                                                    Hiếu Táo là cửa hàng bán lẻ chuyên về các dòng sản phẩm của Apple. Chúng tôi luôn mang cho bạn những dòng
                                                    sản phẩm chất lượng nhất.
                                                </p>
                                            </div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-footer"><div data-v-4ad3dc85="" data-v-e4caeaf8="" class="text-center"><a data-v-4ad3dc85="" data-v-e4caeaf8="" href="https://hieutao.com/" target="_blank" class="btn btn-primary">Xem chi tiết →</a></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-v-e4caeaf8="" tabindex="-1" data-index="3" aria-hidden="false" class="slick-slide slick-active" style="outline: none; width: 278px;">
                                <div data-v-e4caeaf8="">
                                    <div data-v-4ad3dc85="" data-v-e4caeaf8="" tabindex="-1" class="box-card" style="width: 100%; display: inline-block;">
                                        <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card">
                                            <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-img-top"><img data-v-4ad3dc85="" data-v-e4caeaf8="" src="https://cameraphuongnghi.com/public/images/logo.jpg" alt="Card image cap" class="img-top"></div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-body">
                                                <h5 data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-title">Camera Phương Nghi</h5> <p data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-text">
                                                    Các sản phẩm và giải pháp của Camera Phuowng Nghi thì việc giám sát của quý khách giờ đây sẽ không chỉ dừng
                                                    lại ở giám sát nội bộ, giám sát trong phạm vi hẹp mà còn có thể giám sát từ xa.
                                                </p>
                                            </div> <div data-v-4ad3dc85="" data-v-e4caeaf8="" class="card-footer"><div data-v-4ad3dc85="" data-v-e4caeaf8="" class="text-center"><a data-v-4ad3dc85="" data-v-e4caeaf8="" href="https://cameraphuongnghi.com/" target="_blank" class="btn btn-primary">Xem chi tiết →</a></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

