<div id="chiTietDuAnPartialID">
    <div class="row">
        <div class="col-12 mb-4">
            <!-- nav  -->
            <ul class="nav nav-lb-tab">
                <li class="nav-item ms-0 me-3">
                    <a role="button" class="nav-link " id="tongQuanID">Tổng quan</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="congViecID">Công việc</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="nganSachID">Công nợ</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="taiLieuID">Tài liệu</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link active" id="doiNguID">Đội ngũ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- search  -->
        <div class="col-xxl-3 col-lg-3 col-md-12 col-12 mb-4">
            <form>
                <input type="search" class="form-control"
                       placeholder="Tìm kiếm với tên thành viên">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
            <!-- card  -->
            <div class="card mb-4">
                <!-- card body  -->
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Đặng Văn Tuấn</a></h4>
                            <p class="mb-0 text-muted">Web Developer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownOne"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownOne">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <!-- card  -->
            <div class="card mb-4">
                <!-- card body  -->
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <!-- avatar  -->
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-2.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Lê Thị Lợi</a></h4>
                            <p class="mb-0 text-muted">UX Designer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <!-- dropdown  -->
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownTwo"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownTwo">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <!-- card  -->
            <div class="card mb-4">
                <!-- card body  -->
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg
                      avatar-warning">
                            <span class="avatar-initials
                        rounded-circle fs-4">
                                NHN
                            </span>
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0">
                                <a href="#" class="text-inherit">Nguyễn Hiếu Nhân</a>
                            </h4>
                            <p class="mb-0 text-muted">Front End Developer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <!-- dropdown  -->
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownThree"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownThree">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <!-- card  -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-4.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Bùi Công Danh</a></h4>
                            <p class="mb-0 text-muted">Full Stack Developer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownFour"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownFour">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-5.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Nguyễn Thanh Thiện</a></h4>
                            <p class="mb-0 text-muted">HR Manager</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownFive"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownFive">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-6.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Lê Thanh Vân</a></h4>
                            <p class="mb-0 text-muted">UI Designer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownSix"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownSix">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-7.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Phạm Ngọc Tú</a></h4>
                            <p class="mb-0 text-muted">UI Designer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownSeven"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownSeven">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-8.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Nguyễn Thị Thúy Vy</a></h4>
                            <p class="mb-0 text-muted">Full Stack Developer</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownEight"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownEight">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg">
                            <img src="~/Content/Admin/assets/images/avatar/avatar-9.jpg"
                                 alt="" class="rounded-circle">
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Trần Thanh Trúc</a></h4>
                            <p class="mb-0 text-muted">Product Manager</p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownNine"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownNine">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-lg
                      avatar-info">
                            <span class="avatar-initials
                        rounded-circle fs-4">

                                NHH
                            </span>
                        </div>
                        <div class="ms-3">
                            <h4 class="mb-0"><a href="#" class="text-inherit">Nguyễn Huy Hoàng</a></h4>
                            <p class="mb-0 text-muted">
                                Digital Marketing
                            </p>
                        </div>
                    </div>
                    <div class="mt-4 lh-1 d-flex align-items-center">
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="mail">
                            <i class="fe fe-mail
                        fs-4"></i>
                            <!-- text -->
                            <div id="mail" class="d-none">
                                <span>Gửi Email </span>
                            </div>
                        </a>
                        <a href="#" class="me-3 text-muted
                      texttooltip" data-template="infor">
                            <i class="fe fe-info fs-4"></i>
                            <!-- text -->
                            <div id="infor" class="d-none">
                                <span>Xem thông tin </span>
                            </div>
                        </a>
                        <span class="dropdown ">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               href="#"
                               role="button"
                               id="DropdownTen"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fe fe-more-horizontal
                          fs-4"></i>
                            </a>
                            <span class="dropdown-menu"
                                  aria-labelledby="DropdownTen">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-trash-2
                            dropdown-item-icon"></i>Remove
                                </a>
                                <a class="dropdown-item"
                                   href="#">
                                    <i class="fe
                            fe-edit
                            dropdown-item-icon"></i>Edit
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


