<div id="chiTietDuAnPartialID">
    <div class="row">
        <div class="col-12 mb-4">
            <!-- nav  -->
            <ul class="nav nav-lb-tab">
                <li class="nav-item ms-0 me-3">
                    <a role="button" class="nav-link " id="tongQuanID">Tổng quan</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="congViecID">Công việc</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link active" id="nganSachID">Công nợ</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link" id="taiLieuID">Tài liệu</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link" id="doiNguID">Đội ngũ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <!-- card -->
            <div class="card">
                <!-- card body -->
                <div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-bottom p-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <h4 style="margin-top: 10px;" class="mb-4 card-title">Chi Phí Dự Án & Công Nợ</h4>
                                    <button style="height:40px ;width: 200px" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#chinhSuaChiPhi">
                                        <i class="fe fe-edit"> </i> Cập Nhật Chi Phí
                                    </button>
                                </div>
                                <hr class="my-2" />
                                <div style="height: 70px; margin-top: -10px" class="card-body">
                                    <!-- progress bar -->
                                    <h5>Đã thanh toán</h5>
                                    <div class="progress progress-tooltip"
                                         style="height: 15px;">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                             style="width: 50%;"
                                             aria-valuenow="50"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            <span>50%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="d-flex align-items-center justify-content-between p-4">
                                <div class="mb-4 mb-lg-0">
                                    <h2 class="h1 fw-bold mb-0">$ 52,000</h2>
                                    <p class="mb-0 "> Tổng chi phí</p>

                                </div>
                                <div class="ms-3">
                                    <div class="icon-shape icon-lg bg-light-primary text-primary rounded-circle">
                                        <i class="fe fe-dollar-sign fs-3"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col-lg-4 col-md-12 col-12 border-start">
                            <div class="d-flex align-items-center justify-content-between p-4">
                                <div class="mb-4 mb-lg-0">
                                    <h2 class="h1 fw-bold mb-0">$ 34,666</h2>
                                    <p class="mb-0 ">Đã thanh toán</p>

                                </div>
                                <div class="ms-3">
                                    <div class="icon-shape icon-lg bg-light-success text-success rounded-circle">
                                        <i class="fe fe-check-circle fs-3"></i>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- col -->
                        <div class="col-lg-4 col-md-12 col-12 border-start">
                            <div class="d-flex align-items-center justify-content-between p-4">
                                <div class="mb-4 mb-lg-0">
                                    <h2 class="h1 fw-bold mb-0">
                                        $ 17,333
                                    </h2>
                                    <p class="mb-0 ">Còn lại</p>

                                </div>
                                <div class="ms-3">
                                    <div class="icon-shape icon-lg bg-light-danger text-danger rounded-circle">
                                        <i class="fe fe-pie-chart fs-3"></i>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">

            <div class="card">
                <div class="card-header border-bottom-0">
                    <h3 class="mb-0 h4">Giai Đoạn Thanh Toán</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive border-0">
                    <table class="table mb-0 text-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class=" border-top-0">Giai đoạn</th>
                                <th scope="col" class=" border-top-0">kết thúc</th>
                                <th scope="col" class=" border-top-0">chi phí</th>
                                <th scope="col" class=" border-top-0">Trạng thái</th>
                                <th scope="col" class=" border-top-0">Khách hàng</th>
                                <th scope="col" class=" border-top-0">Trả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-success text-white">
                                            <b>GIAI ĐOẠN 1</b>
                                        </div>
                                    </div>
                                </td>

                                <td class="align-middle ">
                                    12 Thg 4, 2022
                                </td>
                                <td style="font-weight:bold; color: salmon" class="align-middle ">
                                    $ 22,000
                                </td>

                                <td class="align-middle ">
                                    <span style="width:110px" class="badge bg-success text-white p-2">Đã thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            &emsp;
                                            <a href="#">
                                                <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                     class="rounded-circle imgtooltip" data-template="one">
                                            </a>
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Nguyễn Minh Tân</span>
                                            </span>
                                        </span>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <input checked style="height: 20px; width:20px;" class="form-check-input" type="checkbox" />
                                </td>

                            </tr>
                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-success text-white">
                                            <b>GIAI ĐOẠN 2</b>
                                        </div>
                                    </div>
                                </td>

                                <td class="align-middle ">
                                    12 Thg 4, 2022
                                </td>
                                <td style="font-weight:bold; color: salmon" class="align-middle ">
                                    $ 22,000
                                </td>

                                <td class="align-middle ">
                                    <span style="width:110px" class="badge bg-success text-white p-2">Đã thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            &emsp;
                                            <a href="#">
                                                <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                     class="rounded-circle imgtooltip" data-template="one">
                                            </a>
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Nguyễn Minh Tân</span>
                                            </span>
                                        </span>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <input checked style="height: 20px; width:20px;" class="form-check-input" type="checkbox" />
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-warning text-white">
                                            <b>GIAI ĐOẠN 3</b>
                                        </div>
                                    </div>
                                </td>

                                <td class="align-middle ">
                                    12 Thg 4, 2022
                                </td>
                                <td style="font-weight:bold; color: salmon" class="align-middle ">
                                    $ 22,000
                                </td>

                                <td class="align-middle ">
                                    <span style="width:110px" class="badge bg-warning text-white p-2">Chưa thanh toán</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            &emsp;
                                            <a href="#">
                                                <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                     class="rounded-circle imgtooltip" data-template="one">
                                            </a>
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Nguyễn Minh Tân</span>
                                            </span>
                                        </span>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <input style="height: 20px; width:20px;" class="form-check-input" type="checkbox" />
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-danger text-white">
                                            <b>GIAI ĐOẠN 4</b>
                                        </div>
                                    </div>
                                </td>

                                <td class="align-middle ">
                                    12 Thg 4, 2022
                                </td>
                                <td style="font-weight:bold; color: salmon" class="align-middle ">
                                    $ 22,000
                                </td>

                                <td class="align-middle ">
                                    <span style="width:110px" class="badge bg-danger text-white p-2">Đã quá hạn</span>
                                </td>
                                <td class="align-middle ">
                                    <div class="avatar-group">
                                        <span class="avatar avatar-md">
                                            &emsp;
                                            <a href="#">
                                                <img alt="avatar" src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                                     class="rounded-circle imgtooltip" data-template="one">
                                            </a>
                                            <span id="one" class="d-none">
                                                <span class="mb-0 h6">Nguyễn Minh Tân</span>
                                            </span>
                                        </span>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <input style="height: 20px; width:20px;" class="form-check-input" type="checkbox" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-xl-4 col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header align-items-center card-header-height  d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="mb-0">Chi phí các giai đoạn</h4>
                    </div>
                    <div>
                        <div class="dropdown dropstart">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="courseDropdown2">
                                <span class="dropdown-header">Settings</span>
                                <a class="dropdown-item" href="#">
                                    <i class="fe fe-external-link dropdown-item-icon "></i>Export
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fe fe-mail dropdown-item-icon "></i>Email
                                    Report
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fe fe-download dropdown-item-icon "></i>Download
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <div name="trafficCongNo" id="traffic" class="apex-charts d-flex justify-content-center"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-12 col-md-12 col-12">
            <!-- card -->
            <div class="card mb-4">
                <!-- card body -->
                <!-- card header -->
                <div class="card-header">
                    <h4 class="mb-0">Lịch sử thanh toán</h4>
                </div>
                <!-- row -->
                <!-- table -->
                <div style="height:345px;" class="table-responsive" data-simplebar>
                    <table class="table text-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>STT</th>
                                <th>Giai đoạn</th>
                                <th>Ngày</th>
                                <th>Số tiền</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    Giai đoạn 1
                                </td>
                                <td>
                                    17/01/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-success me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 7,000
                                </td>
                                <td>
                                    Thanh toán chi phí giai đoạn 1
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Giai đoạn 1
                                </td>
                                <td>
                                    18/01/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-success me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 10,333
                                </td>
                                <td>
                                    Thanh toán chi phí giai đoạn 1
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Giai đoạn 1
                                </td>
                                <td>
                                    18/01/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-danger me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 3,000
                                </td>
                                <td>
                                    Hoàn lại chi phí được giảm
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    Giai đoạn 2
                                </td>
                                <td>
                                    21/03/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-success me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 17,333
                                </td>
                                <td>
                                    Thanh toán chi phí gđ 2
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    Giai đoạn 2
                                </td>
                                <td>
                                    23/03/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-success me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 3,000
                                </td>
                                <td>
                                    Hoàn tất thanh toán gđ 2
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    Giai đoạn 3
                                </td>
                                <td>
                                    04/04/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-success me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 18,000
                                </td>
                                <td>
                                    Thanh toán gđ 3
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    Giai đoạn 3
                                </td>
                                <td>
                                    04/04/2022
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-square-fill text-danger me-2" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg>$ 666
                                </td>
                                <td>
                                    Hoàn trả chi phí thừa
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- row -->
