
@{
    ViewBag.Title = "Tin Tuyển Dụng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Scripts/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/animate.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Template Stylesheet -->
    <link href="~/Scripts/style.css" rel="stylesheet" />
</head>


<section id="about" class="dtr-section dtr-pt-100 dtr-pb-150" style="margin-top: 80px">
    <!-- blue overlay -->
    <div class="container color-dark">

        <!-- row starts -->
        <div class="row">
            <!-- column 1 starts -->
            <div class="col-12 col-md-12 col-lg-12">
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                            <div class="container-fluid bg-secondary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
                                <div class="container">
                                    <div class="row g-2">
                                        <div class="col-md-10">
                                            <div class="row g-2">
                                                <div class="col-6 col-md-6">
                                                    <input style="height:55px" type="text" class="form-control border-0" placeholder="Tìm kiếm với tiêu đề tin" />
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    <select class="form-select border-0">
                                                        <option selected>Tất cả vị trí</option>
                                                        <option value="1"> Front-End Web Developer </option>
                                                        <option value="2"> Back-End Web Developer </option>
                                                        <option value="3"> Front-End Mobile-Developer </option>
                                                        <option value="4"> Back-End Mobile-Developer </option>
                                                        <option value="5"> Tester </option>
                                                        <option value="6"> Business Analysts </option>
                                                        <option value="7"> Product Owner </option>
                                                        <option value="8"> Product Manager </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2">
                                            <button style="height:55px;width:300px" class="btn btn-dark border-0 w-100">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane fade show p-0 active">
                                    <div  style="background-color: #EAE9ED; border-radius: 15px " class="job-item p-4 mb-4">
                                        <div class="row g-4">
                                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                                <div class="text-start ps-4">
                                                    <h5 style="text-align:left" class="mb-3">Lập trình viên C#</h5>
                                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i> Toàn thời gian </span>
                                                    <span style="padding-left:100px" class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> Lương thỏa thuận</span>
                                                    <span style="padding-left:50px" class="text-truncate me-0"><i class="fa fa-hourglass-half text-primary me-2"></i> Hạn nộp: 20/11/2022</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                <div class="d-flex mb-0">
                                                    <a role="button" style="height: 40px; margin-right: 20px" class="btn btn-dark border-0 w-100" href="@Url.Action("thongTinTuyenDung","TinTuyenDung")">&emsp;&emsp; Xem Tin &emsp;&emsp;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="background-color: #EAE9ED; border-radius: 15px"  class="job-item p-4 mb-4">
                                        <div class="row g-4">
                                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                                <div class="text-start ps-4">
                                                    <h5 style="text-align:left" class="mb-3">Trưởng phòng Marketing</h5>
                                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i> Toàn thời gian </span>
                                                    <span style="padding-left:100px" class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> Lương thỏa thuận</span>
                                                    <span style="padding-left:50px" class="text-truncate me-0"><i class="fa fa-hourglass-half text-primary me-2"></i> Hạn nộp: 20/11/2022</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                <div class="d-flex mb-0">
                                                    <a role="button" style="height: 40px; margin-right: 20px" class="btn btn-dark border-0 w-100" href="">&emsp;&emsp; Xem Tin &emsp;&emsp;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="background-color: #EAE9ED; border-radius: 15px" class="job-item p-4 mb-4">
                                        <div class="row g-4">
                                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                                <div class="text-start ps-4">
                                                    <h5 style="text-align:left" class="mb-3">Desinger</h5>
                                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i> Toàn thời gian </span>
                                                    <span style="padding-left:100px" class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> 10.000.000 VNĐ</span>
                                                    <span style="padding-left:50px" class="text-truncate me-0"><i class="fa fa-hourglass-half text-primary me-2"></i> Hạn nộp: 20/11/2022</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                <div class="d-flex mb-0">
                                                    <a role="button" style="height: 40px; margin-right: 20px" class="btn btn-dark border-0 w-100" href="">&emsp;&emsp; Xem Tin &emsp;&emsp;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="background-color: #EAE9ED; border-radius: 15px " class="job-item p-4 mb-4">
                                        <div class="row g-4">
                                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                                <div class="text-start ps-4">
                                                    <h5 style="text-align:left" class="mb-3">Lập trình viên Wordpress</h5>
                                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i> Toàn thời gian </span>
                                                    <span style="padding-left:50px" class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> Lương thỏa thuận</span>
                                                    <span style="padding-left:50px" class="text-truncate me-0"><i class="fa fa-hourglass-half text-primary me-2"></i> Hạn nộp: 20/11/2022</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                <div class="d-flex mb-0">
                                                    <a role="button" style="height: 40px; margin-right: 20px" class="btn btn-dark border-0 w-100" href="">&emsp;&emsp; Xem Tin &emsp;&emsp;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="dtr-btn btn-red dtr-btn-right-icon dtr-ml-30" style="width: 250px" href="#">Xem thêm</a>

                                </div>
                                @*<div id="tab-2" class="tab-pane fade show p-0">
                                </div>
                                <div id="tab-3" class="tab-pane fade show p-0">
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

