
@{
    ViewBag.Title = "Tuyển Dụng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section id="about" class="dtr-section dtr-pt-100 dtr-pb-150" style="margin-top: 90px">
    <!-- blue overlay -->
    <div class="container color-dark">

        <!-- row starts -->
        <div class="row">

            <!-- column 1 starts -->
            <div class="col-12 col-md-12 col-lg-12">
                <h2>Tin Tuyển Dụng</h2>
                <p>IT-Global xin phép giải đáp một số thắc mắc chung của Quý khách.</p>
            </div>
        </div>
    </div>
</section>