
@{
    ViewBag.Title = "Tuyển Dụng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



@{
    ViewBag.Title = "chiTietTinTuyenDung";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Scripts/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/animate.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Template Stylesheet -->
    <link href="~/Scripts/style.css" rel="stylesheet" />
</head>

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div style="padding-top:150px" class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">Tuyển dụng vị trí Backend Developer</h3>
                        <span class="text-truncate me-3"><i class="fa fa-shopping-bag text-primary me-2"></i> Backend Developer </span>
                        <span style="padding-left:100px" class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i> Toàn thời gian </span>
                        <span style="padding-left:50px" class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i> 15.000.000 VNĐ </span>
                    </div>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">Mô tả công việc</h4>
                    <p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-angle-right text-primary me-2"></i> Tuyển dụng, đào tạo, quản lý bộ máy kinh doanh gồm nhân viên sale và marketing (5-10 nhân sự)
                            </li>
                            <li>
                                <i class="fa fa-angle-right text-primary me-2"></i> Xây dựng, quản trị và định hướng phát triển các kênh truyền thông của công ty: website, fanpage, youtube ...
                            </li>
                            <li>
                                <i class="fa fa-angle-right text-primary me-2"></i> Nghiên cứu, tham mưu, hoạch định chiến lược và xây dựng các giải pháp nhằm duy trì và thúc đẩy hoạt động kinh doanh
                            </li>
                            <li>
                                <i class="fa fa-angle-right text-primary me-2"></i> Thiết lập ngân sách Marketing phù hợp trong từng giai đoạn. Chịu trách nhiệm trong phạm vi ngân sách được giao
                            </li>
                            <li>
                                <i class="fa fa-angle-right text-primary me-2"></i> Phối hợp với các phòng ban khác để nghiên cứu cải thiện dịch vụ hoặc ý tưởng sản phẩm/dịch vụ mới
                            </li>
                        </ul>
                    </p>
                    <h4 class="mb-3">Yêu cầu ứng viên</h4>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Ít nhất 1 năm kinh nghiệm tại vị trí tương đương
                        </li>
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Có kỹ năng Report, phân tích số liệu và đưa ra giải pháp tối ưu.
                        </li>
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Xử lý nhanh các vấn đề phát sinh khi xảy ra sự cố.
                        </li>
                    </ul>
                    <h4 class="mb-3">Quyền lợi của ứng viên</h4>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Lương cứng 15-20tr + thưởng doanh thu + thưởng vượt KPI
                        </li>
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Môi trường trẻ, năng động, nhiều cơ hội phát triển
                        </li>
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Được thoải mái đề xuất, nêu ý kiến, thử sai
                        </li>
                        <li>
                            <i class="fa fa-angle-right text-primary me-2"></i> Được ưu đãi khi mua hàng, sử dụng dịch vụ của công ty
                        </li>
                    </ul>
                </div>

                <div class="">
                    <h4 class="mb-4">Ứng tuyển cho công việc này</h4>
                    <span style="font-weight:bold"> Hồ sơ ứng viên</span>
                    <span>
                        gửi về:
                    </span>
                    <span style="font-weight:bold">
                        info@it-global.net
                    </span>
                    <span>với tiêu đề : Họ Tên – CV NHÂN VIÊN BACKEND.</span>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Thông tin chung</h4>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i> Mức lương: 15.000.000 VNĐ
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i> Số lượng tuyển: 3 người
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i> Hình thức làm việc: Toàn thời gian
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2"></i> Giới tính: Không yêu cầu
                    </p>
                    <p class="m-0">
                        <i class="fa fa-angle-right text-primary me-2"></i> Kinh nghiệm: 2 năm kinh nghiệm
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/easing.min.js"></script>
<script src="~/Scripts/waypoints.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="~/Scripts/main.js"></script>

